<?xml version="1.0" encoding="UTF-8"?>
<beans:beans
	xmlns="http://www.springframework.org/schema/mvc"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">

	<annotation-driven />

	<beans:bean id="dataSource"
		class="org.apache.commons.dbcp.BasicDataSource">
		<beans:property name="driverClassName"
			value="com.mysql.jdbc.Driver" />
		<beans:property name="url"
			value="mysql://f2auu89goie57da1:zkdyv5wstinjpjlq@dfkpczjgmpvkugnb.cbetxkdyhwsb.us-east-1.rds.amazonaws.com:3306/wj0uwmr5rp8c77kt" />
		<beans:property name="username"
			value="f2auu89goie57da1" />
		<beans:property name="password"
			value="zkdyv5wstinjpjlq" />
	</beans:bean>

	<beans:bean id="doctorController"
		class="com.project.RestController.DoctorController">
	</beans:bean>
	<beans:bean id="doctorDao" class="com.project.DAO.DoctorDAO"></beans:bean>


	<beans:bean id="patientController"
		class="com.project.RestController.PatientController">
	</beans:bean>
	<beans:bean id="patientDao"
		class="com.project.DAO.PatientDAO"></beans:bean>
	
	<context:component-scan
		base-package="com.project" />




</beans:beans>
